{% extends "todo/base.html" %} 

{% block title %}
  Home
{% endblock %}

{% block content %}

{% include "todo/addtodo.html" %}

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Desc</th>
      <th scope="col">Status</th>
      <th colspan="2" class="text-center" >Action</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in todos %}
    <tr>
      <th scope="row">{{todo.id}}</th>
      <td>{{todo.title}}</td>
      <td>{{todo.des}}</td>
      <td>
        {% if todo.isDone%}
          <a href="{% url "setdone" todo.id %}" class="badge badge-success bg-success">Completed</a>
          {% else %}
          <a href=" {% url "setdone" todo.id %} " class="badge badge-waring bg-warning">Pending</a>
        {% endif %}
      </td>
      <td>
        <a href=" {% url "delete" todo.id %} " class="badge badge-success bg-danger">Delete</a>
      </td>
      <td>
        <a href=" {% url "delete" todo.id %} " class="badge badge-success bg-primary">Update</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}
